{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Login to Spirit</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        *{
            font-family: 'Poppins';
        }
    	.active{
    		color: #FBAD16;
    		font-weight: 800px;
    	}
        .map{
            width: 1100px;
            height: 630px;
            background: #FFFFFF;
            border-radius: 9px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            padding:0px;
        }
        .map-1{
            height: 600px;
            width:100%;
            margin-bottom: 0px;
            padding:0px;
        }
    </style>
<!--


-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo" >
                            <img style="height: 80px;" src="{% static 'images/logo-halyk.png' %}"><strong style="color: black;font-family: Poppins;font-weight: 800px;line-height: 30px;font-size: 20px;">SPIRIT</strong><strong style="color:rgb(231, 143, 42);font-family: Poppins;font-weight: 800px;line-height: 30px;font-size: 20px;">BREAKERS</strong>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="border-bottom: 1px solid #FBAD16;">
                            <li class="scroll-to-section"><a href="{% url 'home' %}">Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'map' %}" class="active">Map</a></li>
                            <li class="scroll-to-section"><a href="#women">List</a></li>
                            <li class="scroll-to-section"><a href="#kids">Claim</a></li>
                           
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <br>
    <br>
    <br>
    <br>
 <div class="container">
    <br>
<div class="dropdown">
<select name="cities" id="cities" style="width:118px;text-align: center;border-top:none;border-left: none;border-right:none;font-weight: 600px;font-size:14px;color:#000000;outline: none;">
    <option value="Bishkek">Bishkek</option>
    <option value="osh">Osh</option>
    <option value="Batken">Batken</option>
</select>
<select name="id" id="id" style="width:118px;margin-left:40px;text-align: center;border-top:none;border-left: none;border-right:none;font-weight: 600px;font-size:14px;color:#000000;outline: none;">
    <option value="Bishkek">ID 5718</option>
    <option value="osh">ID 5719</option>
    <option value="Batken">ID 5720</option>
</select>
<button style="text-align: center;background-color: #FBAD16; color:white;width:93px;height: 30px;margin-left:20px;font-size: 12px;border-radius: 5px;border:none;">View</button>
</div>
        <div class="row mt-4 map" style="width:900px;">
            <div style="text-align: center;margin-left:40%;margin-top:70px;"><i class="bi bi-chevron-left"><i style="margin-left: 40px;">Bishkek</i></i><i class="bi bi-chevron-right" style="margin-left: 40px;"></i></div>
            <div class="col-md-10 offset-md-1">

                <div class="map-1" style="margin-top: 0px;width:900px;margin-left: -90px;border-radius: 9px;">
                {{map1|safe}}
            </div>
            </div>
        </div>
    </div>
<span><a href ="{% url 'logout' %}">Log Out</a></span> 
   
    
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>

